
/*иконочный svg шрифт*/
@font-face {
  font-family: "sutochnoApp";
  src: local("sutochnoApp"),
    url("./assets/fonts/sutochnoApp.eot") format("embedded-opentype"),
    url("./assets/fonts/sutochnoApp.woff") format("woff"),
    url("./assets/fonts/sutochnoApp.ttf") format("truetype"),
    url("./assets/fonts/sutochnoApp.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class^="icon-app-"], 
[class*=" icon-app-"] {
  font-family: 'sutochnoApp' !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}
.icon-wps-small {
  font-size: 16px !important;
}


.icon-app-edit-price:before {
  content: "\e97f";
}
.icon-app-shape:before {
  content: "\e97e";
}
.icon-app-drop-circle:before {
  content: "\e979";
}
.icon-app-rocket-planet:before {
  content: "\e97a";
}
.icon-app-rocket-right:before {
  content: "\e97b";
}
.icon-app-shuttle-2:before {
  content: "\e900";
}
.icon-app-up-arrow:before {
  content: "\e97c";
}
.icon-app-dislike:before {
  content: "\e978";
}
.icon-app-like:before {
  content: "\e97d";
}
.icon-app-metro-circle:before {
  content: "\e976";
}
.icon-app-sea:before {
  content: "\e977";
}
.icon-app-degrees:before {
  content: "\e96f";
}
.icon-app-graduate-cap:before {
  content: "\e970";
}
.icon-app-heart-tile:before {
  content: "\e971";
}
.icon-app-heart-tile-fill:before {
  content: "\e972";
}
.icon-app-point-home .path1:before {
  content: "\e973";
  color: rgb(68, 68, 68);
}
.icon-app-point-home .path2:before {
  content: "\e974";
  margin-left: -0.7001953125em;
  color: rgb(255, 255, 255);
}
.icon-app-man-transparent:before {
  content: "\e901";
}
.icon-app-check:before {
  content: "\e902";
}
.icon-app-important:before {
  content: "\e903";
}
.icon-app-info:before {
  content: "\e904";
}
.icon-app-lamp:before {
  content: "\e905";
}
.icon-app-tabs:before {
  content: "\e906";
}
.icon-app-update:before {
  content: "\e907";
}
.icon-app-fire:before {
  content: "\e908";
}
.icon-app-heart-full:before {
  content: "\e96d";
}
.icon-app-heart:before {
  content: "\e909";
}
.icon-app-partner:before {
  content: "\e90a";
}
.icon-app-location:before {
  content: "\e90b";
}
.icon-app-star:before {
  content: "\e90c";
}
.icon-app-rocket:before {
  content: "\e90d";
}
.icon-app-wifi:before {
  content: "\e90e";
}
.icon-app-parking:before {
  content: "\e90f";
}
.icon-app-condition:before {
  content: "\e910";
}
.icon-app-documents:before {
  content: "\e911";
}
.icon-app-no-smoking:before {
  content: "\e912";
}
.icon-app-washmachine:before {
  content: "\e913";
}
.icon-app-refrigerator:before {
  content: "\e914";
}
.icon-app-microwave:before {
  content: "\e915";
}
.icon-app-hairdryer:before {
  content: "\e916";
}
.icon-app-tv:before {
  content: "\e917";
}
.icon-app-pets:before {
  content: "\e918";
}
.icon-app-safe:before {
  content: "\e919";
}
.icon-app-toiletries:before {
  content: "\e91a";
}
.icon-app-jacuzzi:before {
  content: "\e91b";
}
.icon-app-lightning:before {
  content: "\e91c";
}
.icon-app-clip:before {
  content: "\e91d";
}
.icon-app-clock:before {
  content: "\e91e";
}
.icon-app-bed:before {
  content: "\e91f";
}
.icon-app-arrival:before {
  content: "\e920";
}
.icon-app-double-bed:before {
  content: "\e921";
}
.icon-app-user:before {
  content: "\e922";
}
.icon-app-ticket:before {
  content: "\e923";
}
.icon-app-sport:before {
  content: "\e924";
}
.icon-app-vacation:before {
  content: "\e925";
}
.icon-app-location-filled:before {
  content: "\e926";
}
.icon-app-emblem:before {
  content: "\e927";
}
.icon-app-world:before {
  content: "\e928";
}
.icon-app-zero-percent:before {
  content: "\e929";
}
.icon-app-garantie:before {
  content: "\e92a";
}
.icon-app-free:before {
  content: "\e92b";
}
.icon-app-people:before {
  content: "\e92c";
}
.icon-app-guest:before {
  content: "\e92d";
}
.icon-app-calendar:before {
  content: "\e92e";
}
.icon-app-minus:before {
  content: "\e92f";
}
.icon-app-plus:before {
  content: "\e930";
}
.icon-app-select:before {
  content: "\e931";
}
.icon-app-cross-min:before {
  content: "\e932";
}
.icon-app-cam:before {
  content: "\e933";
}
.icon-app-playground:before {
  content: "\e934";
}
.icon-app-beach:before {
  content: "\e935";
}
.icon-app-pool_out:before {
  content: "\e936";
}
.icon-app-spa:before {
  content: "\e937";
}
.icon-app-restaurant:before {
  content: "\e938";
}
.icon-app-gum:before {
  content: "\e939";
}
.icon-app-transfer:before {
  content: "\e93a";
}
.icon-app-share-simple:before {
  content: "\e975";
}
.icon-app-share:before {
  content: "\e93b";
}
.icon-app-qiwi:before {
  content: "\e93c";
}
.icon-app-yandexmoney:before {
  content: "\e93d";
}
.icon-app-webmoney:before {
  content: "\e93e";
}
.icon-app-sberbank:before {
  content: "\e93f";
}
.icon-app-bankcard:before {
  content: "\e940";
}
.icon-app-fullscreen:before {
  content: "\e941";
}
.icon-app-ski:before {
  content: "\e942";
}
.icon-app-purse:before {
  content: "\e943";
}
.icon-app-exclamation-triangle:before {
  content: "\e944";
}
.icon-app-question:before {
  content: "\e945";
}
.icon-app-arrow-left:before {
  content: "\e946";
}
.icon-app-camera:before {
  content: "\e947";
}
.icon-app-arrow-down:before {
  content: "\e948";
}
.icon-app-arrow-up:before {
  content: "\e949";
}
.icon-app-pencil:before {
  content: "\e94a";
}
.icon-app-cross:before {
  content: "\e94b";
}
.icon-app-metro:before {
  content: "\e94c";
}
.icon-app-label:before {
  content: "\e94d";
}
.icon-app-bsofa-bed:before {
  content: "\e94e";
}
.icon-app-king-bed:before {
  content: "\e94f";
}
.icon-app-yarus-bed:before {
  content: "\e950";
}
.icon-app-linen:before {
  content: "\e951";
}
.icon-app-cleaning:before {
  content: "\e952";
}
.icon-app-add-room:before {
  content: "\e953";
}
.icon-app-add-house:before {
  content: "\e954";
}
.icon-app-add-apartment:before {
  content: "\e955";
}
.icon-app-add-hotel:before {
  content: "\e956";
}
.icon-app-youtube:before {
  content: "\e957";
}
.icon-app-instagram:before {
  content: "\e958";
}
.icon-app-twitter:before {
  content: "\e959";
}
.icon-app-odnoklassniki:before {
  content: "\e95a";
}
.icon-app-vk:before {
  content: "\e95b";
}
.icon-app-facebook:before {
  content: "\e95c";
}
.icon-app-phone:before {
  content: "\e95d";
}
.icon-app-crown:before {
  content: "\e95e";
}
.icon-app-dzen:before {
  content: "\e95f";
}
.icon-app-arro:before {
  content: "\e960";
}
.icon-app-car:before {
  content: "\e961";
}
.icon-app-chat:before {
  content: "\e962";
}
.icon-app-door:before {
  content: "\e963";
}
.icon-app-eye:before {
  content: "\e964";
}
.icon-app-hat:before {
  content: "\e965";
}
.icon-app-man:before {
  content: "\e966";
}
.icon-app-money:before {
  content: "\e967";
}
.icon-app-setting:before {
  content: "\e968";
}
.icon-app-message:before {
  content: "\e969";
}
.icon-app-bed1:before {
  content: "\e96a";
}
.icon-app-autumn:before {
  content: "\e96b";
}
.icon-app-holiday:before {
  content: "\e96c";
}
.icon-app-winter:before {
  content: "\e96e";
}
.icon-app-meal:before {
  content: "\e980";
}

// Fix size
.icon-wps-crown:before {
  font-size: 66.6%;
}
.icon-apps {
  &-android, &-ios {
    display: inline-block;
    width: 135px;
    height: 40px;
    background-repeat: no-repeat;
  }
  &-android {
    background-image: url("./assets/img/icon-googleplay.svg");
  }
  &-ios {
    background-image: url("./assets/img/icon-appstore.svg");
  }
}
